
* {
    font-family: monospace;
    font-size: 11px;
}

.card-body .channel {
    width: 120px;
}
.card-body .message {
    width: 200px;
}
.card-body .daterange {
    width: 268px;
    text-align: center;
}

.card-body form.filter input[type=text]:read-only {
    background-color: white;
    border: 1px solid white;
    outline: none;
    cursor: default;
    color: gray;
}
.card-body .readonly-channel {
    width: 120px;
}
.card-body .readonly-message {
    width: 200px;
}
.card-body .readonly-daterange {
    width: 268px;
    text-align: center;
}


list {
    margin-top: 4px;
    display: block;
}
list > item {
    display: block;
    margin: 0;
}

list > item > * {
    display: inline-block;
    background-color: #f7f7f7;
    margin: 2px;
    padding: 2px 4px;
}
list > item > channel {
    width: 200px;
}
list > item > message {
    width: calc( 100% - 352px );
}
list > item > date {
    width: 140px;
    text-align: center;
}

pagination {
    display: block;
    margin: 10px;
}
pagination > * {
    display: inline-block;
    padding: 4px;
    border-radious: 4px;
}
pagination > b {
    background-color: black;
    color: white;
}
pagination > n {
    color: gray;
    cursor: pointer;
}
pagination > n:hover {
    color: red;
}
